html {
  font-family: "raleway", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "raleway";
  src: url(../fonts/Raleway-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

p {
  line-height: 180%;
}
header,
nav {
  height: 76px;
  border-bottom: 1px solid gainsboro;
}
.logo {
  color: #666;
  font-size: 1.8rem;
}
.logo:hover {
  color: #333;
}
nav a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}
nav a:hover {
  color: #745cf9;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-right: 15px;
}

main a {
  text-transform: uppercase;
  display: flex;
  color: #fff;
  width: 200px;
  height: 54px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

main section div {
  row-gap: 2rem;
}
.section1 {
  color: #fff;
}
.section1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(../img/photo-1443527216320-7e744084f5a7-1.jpg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.section1 article {
  display: flex;
  gap: 8px;
}

.purplebtn {
  background-color: #745cf9;
  border: 2px solid #745cf9;
}
.whitebtn {
  border: 2px solid #fff;
}
.whitebtn:hover {
  background-color: #fff;
  color: #333;
  transition: 0.4s;
}
.purplebtn:hover {
  transition: 0.4s;
  background-color: #5a3ff4;
  border: 2px solid #745cf9;
}

.section2 {
  display: flex;
  padding: 10rem;
  align-items: center;
  gap: 10rem;
  justify-content: center;
}

.section2 div {
  display: flex;
  flex-direction: column;
  width: 25rem;
  justify-content: center;
}

.section2 h2,
.section3 h2,
.section5 h2,
.section8 h2 {
  color: #0e1015;
}

.section7 h2 {
  color: #fff;
}
.section2 p,
.section3 p,
.section5 p {
  color: #8c979e;
}

.section3 {
  display: flex;
  padding: 10rem;
  align-items: center;
  gap: 10rem;
  justify-content: center;
  flex-direction: row-reverse;
  background-color: #f5f5f5;
}

.section3 div {
  display: flex;
  flex-direction: column;
  width: 25rem;
  justify-content: center;
}

.section4 {
  background: url(../img/section4.png) no-repeat center;
  background-size: cover;
  height: 450px;
  background-attachment: fixed;
}
.section4 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.section4 p {
  color: #fff;
  text-align: center;
}

.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding-top: 7rem;
}
.section5 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50rem;
  align-items: center;
}

.section5 p {
  text-align: center;
}

.section6 {
  background-color: #0e1015;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding-top: 7rem;
}

.section6_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}
.gallery article a {
  height: 420px;
  width: 620px;
}
.gallery img {
  width: 100%;
  height: 100%;
}
.gallery img:hover {
  opacity: 0.7;
  background-color: #000000;
  transition: 0.5s;
}

.section7 {
  background: url(../img/background.jpg) no-repeat fixed center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6rem;
  text-align: center;
  row-gap: 2rem;
  align-items: center;
}
.section7 div {
  display: flex;
  width: 60rem;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.section7 article {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
  align-items: center;
}
.section7 article img {
  width: 6rem;
}
.angle {
  fill: #8c979e;
  width: 14px;
}
.section8 {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.section8 div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 4rem;
}

.section8 ul {
  display: flex;
  list-style: none;
  width: 60rem;
  justify-content: space-between;
}
.section8_logos {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}
.section8_logos:hover {
  opacity: 1;
  transition: 0.4s;
}
.section9 {
  padding: 8rem;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer {
  padding: 2rem;
  background-color: #0e1015;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
}
footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.socialmedia_icons {
  fill: #fff;
  width: 18px;
  height: 18px;
}
.socialmedia_icons :hover {
  fill: #5a3ff4;
  transition: 0.4s;
}
.angle_box {
  border: 2px solid #8c979e;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.angle:hover {
  transition: 0.4s;
  fill: #fff;
}

.angle_box:hover {
  transition: 0.4s;
  border: 2px solid #fff;
}
